/* 
color scheme

mustarddark #d79922

offwhite #efe2ba

red #f13c20

blue #4056a1

lightblue #c5cbe3


*/


/* FONTS */


/*----------  LATO  ----------*/


/* @font-face { NOT USING ATM
    font-family: 'latoregular';
    src: url("../fonts/lato/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'latobold';
    src: url("../fonts/lato/Lato-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/*--------------- IRISH GROVER--------------- */

@font-face {
    font-family: 'irish-grover';
    src: url("../fonts/IrishGrover-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* ------------ DOMINE ----------------------- */

@font-face {
    font-family: 'domine';
    src: url("../fonts/Domine-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* MAIN LAYOUT */

* {
    /* background-color: rgb(84, 134, 184); */
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #22252c;
    /* background-color: #22252c; */
}

header {
    font-family: latobold, sans-serif;
    /* background-color: cornflowerblue; */
    /* background-color: #22252c; */
    background: linear-gradient(90deg, rgba(64, 86, 161, 1) 21%, rgba(239, 226, 186, 1) 76%, rgba(215, 153, 34, 1) 100%);
    border-radius: 150px;
    margin-block: 10px;
}


/* FOOTER */

footer {
    /* background-color: cornflowerblue; */
    background-color: #22252c;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 1;
}


/* .footer-opacity {
    opacity: 20%;
} */

footer .logo {
    font-size: 1.25rem;
}

footer .logo span {
    font-size: 2rem;
}

small {
    background-color: inherit;
    color: #c5cbe3;
}


/* FOOTER MQ */

@media (max-width: 980px) {
    small {
        font-size: 0.75rem;
    }
}

@media (max-width: 740px) {
    /* footer {
        opacity: 20%;
    } */
    .footer-opacity {
        opacity: 20%;
    }
    small {
        font-size: 0.5rem;
    }
}


/* HEADER */

.container {
    background-color: inherit;
    max-width: 980px;
    margin: 0 auto;
}

@media (max-width: 980px) {
    .container {
        max-width: 740px;
    }
}

@media (max-width: 740px) {
    .container {
        max-width: 100%;
    }
}

.logo {
    /* color-scheme: ; */
    margin-inline-start: 15px;
    color: #d79922;
    text-shadow: 0px 0px 20px #080402;
    /* text-shadow: 0px -3px 20px #000000; */
    background-color: inherit;
    font-family: domine, sans-serif;
    font-size: 1.875rem;
}

.logo span {
    background-color: inherit;
    font-family: 'Irish-Grover', cursive;
    font-size: 2.8125rem;
}


/* MAIN MANU */

.main-menu a {
    color: #4056a1;
    background: inherit;
    text-decoration: none;
    display: block;
    line-height: 50px;
    width: 7rem;
    text-align: center;
    border-collapse: collapse;
}

.main-menu a:hover {
    text-shadow: 0px 0px 20px #080402;
}

@media (max-width: 740px) {
    .main-menu {
        background-color: #22252c;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 3;
        opacity: 80%;
        height: 100vh;
        transition: transform 1s;
        transform: translate(100%, 0);
    }
    .open .main-menu {
        transform: translate(0, 0);
    }
    .main-menu a {
        color: #d79922;
        /* background-color: #fff; */
        height: auto;
        line-height: 1;
        padding: 20px 0;
        width: 30vw;
        border: none;
        border-bottom: 1px solid #d79922;
    }
    .main-menu a.active {
        border-width: 1px;
    }
}

.toggle-menu-btn {
    background: transparent;
    border: none;
    color: #4056a1;
    font-size: 2rem;
    padding-inline: 20px;
    display: none;
}

@media (max-width: 740px) {
    .toggle-menu-btn {
        display: block;
    }
}

.toggle-menu-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(42, 42, 42, 0.6);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity .5s;
}

@media (max-width: 740px) {
    .toggle-menu-screen {
        display: block;
    }
}

.open .toggle-menu-screen {
    visibility: visible;
    opacity: 1;
}


/* MAIN SECTION */

@media (max-width: 740px) {
    .main-wrapper {
        flex-direction: column;
        /* margin-block-end: 65px; */
    }
}


/* CANVAS SECTION */

.meme-canvas {
    border-radius: 2%;
}

.text-input {
    background-color: cornsilk;
}

.main-canvas {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 26px 8px rgba(0, 0, 0, 0.91)
}

@media (max-width: 740px) {
    .main-canvas {
        height: 300px;
        width: 300px;
    }
}


/* CONTROLBOX */

.control-img {
    height: 26px;
    width: 26px;
    background-color: inherit;
}


/* GRID STYLE */

.control-box {
    background-color: #efe2ba23;
    padding: 10px;
    border-radius: 15px;
    display: grid;
    gap: 10px;
    max-width: 400px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "text text text text text" "move move switch new del" "plus minus left center right" "font font font color margin-c" "share save back back back";
}

.control-box>*:hover {
    box-shadow: 0px 0px 16px 5px rgba(62, 62, 62, 0.54);
    cursor: pointer;
}

.ctrl {
    background-color: #c5cbe3;
    border-radius: 10px;
    border: none;
    padding: 0px;
    width: 55px;
    height: 55px;
    vertical-align: top;
    margin: auto;
    margin-block: 10px;
}

.ctrl-c {
    background-color: inherit;
    border-radius: 10px;
    border: none;
    width: 55px;
    height: 55px;
    vertical-align: top;
    margin: auto;
    margin-block: 10px;
}

.control-box>* {
    font-family: 'latobold', cursive;
    font-size: 1.25rem;
}

.text-input {
    background-color: #c5cbe3;
    border-radius: 50px;
    font-size: 1.5rem;
}

.control-text {
    text-align: center;
    grid-area: text;
    margin-block: auto;
    height: 55px;
    border: none;
    /* background-color: blue; */
}

.control-up .control-down {
    grid-area: move;
    /* background-color: red; */
}

.control-down {
    transform: rotate(180deg);
}

.control-switch {
    grid-area: switch;
}

.control-new {
    grid-area: new;
}

.control-d {
    grid-area: del;
}

.control-font-plus {
    grid-area: plus;
}

.control-font-minus {
    grid-area: minus;
}

.control-l {
    grid-area: left;
}

.control-c {
    grid-area: center;
}

.control-r {
    grid-area: right;
}

.control-font {
    margin-block: auto;
    height: 55px;
    border: none;
    grid-area: font;
    border-radius: 50px;
    background-color: #c5cbe3;
    text-align: center;
}

.control-color {
    grid-area: color;
}

.control-margin-c {
    grid-area: margin-c;
}

.control-share {
    grid-area: share;
}

.control-share:hover {
    cursor: not-allowed;
}

.control-box a {
    display: flex
}

.control-box a img {
    align-self: center;
    margin: auto;
}

.control-save {
    grid-area: save;
}

.control-save:hover {
    cursor: not-allowed;
}

.control-back {
    margin-block: auto;
    height: 55px;
    border: none;
    background-color: #c5cbe3;
    border-radius: 50px;
    grid-area: back;
}


/* ---------------- */


/* OPEN MEME EDITOR */

body.open-meme-editor .main-screen {
    pointer-events: auto;
    opacity: 1;
}

body.open-meme-editor .modal {
    display: block;
}

.modal {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 72vh;
    width: 100%;
}

@media (max-width: 740px) {
    .modal {
        z-index: 1;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 90vh;
        width: 100%;
    }
}


/* GALLERY SECTION */

.gallery-main-container {
    display: block;
}

.hide-gallery {
    display: none;
}


/* SEARCH BAR AND KEY WORDS */

.gallery-header {
    margin-block: 10px;
}

.search-bar {
    background-color: #c5cbe393;
    color: #4056a1;
    border: none;
    width: 200px;
    border-radius: 50px;
    font-size: 1.25rem;
    font-family: 'latobold', cursive;
    padding-left: 20%;
}

.search-bar::placeholder {
    color: #4056a1;
}


/*  NOT WORKING DONT KNOW WHY
.datalist {
    background-color: #c5cbe393;
    color: #4056a1;
} */

.key-words-container {
    background-color: #c5cbe393;
    color: #4056a1;
    border: none;
    border-radius: 50px;
    font-family: 'latobold', cursive;
    padding-inline: 25px;
    margin-inline-end: 100px;
}

.key-words li {
    font-family: 'latobold', cursive;
    font-size: 1.25rem;
    color: #4056a1;
    margin-inline: 8px;
}

.key-words li button {
    font-family: 'latobold', cursive;
    font-size: 2rem;
    color: #4056a1;
    margin-inline: 8px;
    background-color: inherit;
    border: none;
}

.key-words li:hover {
    cursor: pointer;
}

.key-words li button:hover {
    cursor: pointer;
}


/* SEARCH AND KEY - MEDIA QUERY */

@media (max-width: 740px) {
    .gallery-header {
        margin-block: 10px;
        flex-direction: column;
        align-items: center;
    }
    .search-bar {
        background-color: #c5cbe393;
        color: #4056a1;
        border: none;
        width: 200px;
        border-radius: 50px;
        font-size: 1.25rem;
        font-family: 'latobold', cursive;
        padding-left: 20%;
        margin-block-end: 10px;
    }
    .search-bar::placeholder {
        color: #4056a1;
    }
    .key-words-container {
        background-color: #c5cbe393;
        color: #4056a1;
        border: none;
        border-radius: 50px;
        font-family: 'latobold', cursive;
        padding-inline: 25px;
        margin-inline-end: 0;
    }
    .key-words li {
        font-family: 'latobold', cursive;
        font-size: 1.25rem;
        color: #4056a1;
        margin-inline: 8px;
    }
    .key-words li button {
        font-family: 'latobold', cursive;
        font-size: 2rem;
        color: #4056a1;
        margin-inline: 8px;
        background-color: inherit;
        border: none;
    }
    .key-words li:hover {
        cursor: pointer;
    }
    .key-words li button:hover {
        cursor: pointer;
    }
}


/*  */

.gallery-grid-container {
    margin: 0 auto 90px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr));
    /* overflow-y: scroll; */
    /* max-height: 60vh; */
    /* check if fill or fit */
}

.grid-img {
    width: 150px;
    height: 150px;
    margin: auto;
    object-fit: cover;
    border-radius: 50%;
    transition: all 300ms;
}

.grid-img:hover {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 17px 9px #d79922;
}


/* HELPERS */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.center-items {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.vertical-center {
    align-content: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}