/* FONTS */


/*----------  LATO  ----------*/


/* @font-face { NOT USING ATM
    font-family: 'latoregular';
    src: url("../fonts/lato/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'latobold';
    src: url("../fonts/lato/Lato-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/*--------------- IRISH GROVER--------------- */

@font-face {
    font-family: 'irish-grover';
    src: url("../fonts/IrishGrover-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* ------------ DOMINE ----------------------- */

@font-face {
    font-family: 'domine';
    src: url("../fonts/Domine-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* MAIN LAYOUT */

* {
    background-color: rgb(84, 134, 184);
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
}

header {
    font-family: latobold, sans-serif;
    background-color: cornflowerblue;
}

footer {
    background-color: cornflowerblue;
    position: fixed;
    bottom: 0;
    width: 100%;
}

small {
    background-color: inherit;
}


/* HEADER */

.container {
    background-color: inherit;
    max-width: 980px;
    margin: 0 auto;
}

@media (max-width: 980px) {
    .container {
        max-width: 740px;
    }
}

@media (max-width: 740px) {
    .container {
        max-width: 100%;
    }
}

.logo {
    background-color: inherit;
    font-family: domine, sans-serif;
    font-size: 30px;
}

.logo span {
    background-color: inherit;
    font-family: 'Irish-Grover', cursive;
    font-size: 45px;
}


/* MAIN MANU */

.main-menu a {
    color: #000000;
    text-decoration: none;
    display: block;
    line-height: 130px;
    width: 8.4375rem;
    text-align: center;
    border-right: 2px solid #1e1e1e;
    border-collapse: collapse;
    box-shadow: inset 0px -2px 11px 0px #000000;
}

.main-menu:first-child {
    border-left: 2px solid #1e1e1e;
}

.main-menu a:hover {
    color: #fff;
    /* box-shadow: 20px 20px 50px 10px pink inset */
    box-shadow: inset 0px -2px 11px 0px #0839aa;
}

@media (max-width: 740px) {
    .main-menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 3;
        background: #292929;
        height: 100vh;
        transition: transform 1s;
        transform: translate(100%, 0);
    }
    .open .main-menu {
        transform: translate(0, 0);
    }
    .main-menu a {
        height: auto;
        line-height: 1;
        padding: 20px 0;
        width: 60vw;
        border: none;
        border-bottom: 1px solid #1e1e1e;
    }
    .main-menu a.active {
        border-width: 1px;
    }
}

.toggle-menu-btn {
    background-color: cornflowerblue;
    border: none;
    color: rgb(70, 69, 69);
    font-size: 1.75rem;
    padding: 20px;
    display: none;
}

@media (max-width: 740px) {
    .toggle-menu-btn {
        display: block;
    }
}

.toggle-menu-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(42, 42, 42, 0.6);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity .5s;
}

@media (max-width: 740px) {
    .toggle-menu-screen {
        display: block;
    }
}

.open .toggle-menu-screen {
    visibility: visible;
    opacity: 1;
}


/* MAIN SECTION */

@media (max-width: 980px) {
    .main-wrapper {
        flex-direction: column;
    }
}


/* CANVAS SECTION */

.meme-canvas {
    border: 5px solid rgb(75, 75, 75);
    border-radius: 5%;
}

.text-input {
    background-color: #fff;
}


/* CONTROLBOX */

.control-img {
    height: 26px;
    width: 26px;
    background-color: inherit;
}


/* GRID STYLE */

.control-box {
    display: grid;
    max-width: 400px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "text text text text text" "move move switch new del " "plus minus left center right" "font font font color margin-c" "share share save save back";
}

.control-box>*:hover {
    box-shadow: 0px 0px 16px 5px rgba(62, 62, 62, 0.54);
    cursor: pointer;
}

.ctrl {
    background-color: linen;
    border-radius: 10px;
    border: none;
    padding: 0px;
    width: 55px;
    height: 55px;
    /* font-size: 2em; */
    vertical-align: top;
    margin: auto;
    margin-block: 10px;
}

.ctrl-c {
    background-color: inherit;
    border-radius: 10px;
    border: none;
    padding: 0px;
    width: 55px;
    height: 55px;
    /* font-size: 2em; */
    vertical-align: top;
    margin: auto;
    margin-block: 10px;
}

.control-box>* {
    font-family: 'latobold', cursive;
    font-size: 20px;
}

.text-input {
    background-color: linen;
    border-radius: 50px;
    font-size: 36px;
}

.control-text {
    grid-area: text;
    /* background-color: blue; */
}

.control-up .control-down {
    grid-area: move;
    /* background-color: red; */
}

.control-switch {
    grid-area: switch;
    /* background-color: rgb(71, 179, 179); */
}

.control-new {
    grid-area: new;
    /* background-color: crimson; */
}

.control-d {
    grid-area: del;
    /* background-color: saddlebrown; */
}

.control-font-plus {
    grid-area: plus;
    /* background-color: rgb(49, 172, 172); */
}

.control-font-minus {
    grid-area: minus;
    /* background-color: rgb(94, 180, 206); */
}

.control-l {
    grid-area: left;
    /* background-color: rgb(124, 189, 124); */
}

.control-c {
    grid-area: center;
    /* background-color: rgb(133, 133, 63); */
}

.control-r {
    grid-area: right;
    /* background-color: rgb(233, 233, 160); */
}

.control-font {
    height: 60px;
    grid-area: font;
    font-size: 26px;
    border-radius: 50px;
    /* margin: 50px; */
    background-color: linen;
    text-align: center;
}

.control-color {
    grid-area: color;
    /* background-color: rgb(173, 151, 180); */
}

.control-margin-c {
    grid-area: margin-c;
    /* background-color: rgb(18, 38, 153); */
}

.control-share {
    background-color: linen;
    grid-area: share;
    font-size: 36px;
    border-radius: 50px;
    /* background-color: rgb(179, 61, 26); */
}

.control-save {
    grid-area: save;
    color: black;
    background-color: linen;
    border-radius: 50px;
    margin: 10px;
    padding-top: 15px;
    text-align: center;
    vertical-align: middle;
    /* background-color: rgb(18, 139, 45); */
    text-decoration: none;
}

.control-back {
    background-color: linen;
    border-radius: 20px;
    grid-area: back;
    /* background-color: rgb(109, 109, 67); */
}


/* ---------------- */


/* OPEN MEME EDITOR */

body.open-meme-editor .main-screen {
    pointer-events: auto;
    opacity: 1;
}

body.open-meme-editor .modal {
    display: block;
}

.modal {
    position: fixed;
    z-index: 1;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 90%;
}


/* GALLERY SECTION */

.key-words li {
    margin-inline: 3px;
}

.gallery-header {
    margin-block: 10px;
}

.gallery-grid-container {
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr));
    /* check if fill or fit */
}

.grid-img {
    width: 150px;
    height: 150px;
    margin: auto;
    object-fit: cover;
    border-radius: 50%;
    transition: all 300ms;
}

.grid-img:hover {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 17px 9px rgba(0, 0, 0, 0.51);
}


/* HELPERS */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.center-items {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.vertical-center {
    align-content: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}